/*
    SCSS VARIABLES
*/

/* SIDEBAR */
$sidebar-width: 260px !default;
$sidebar-width-small: 210px !default;
$sidebar-width-large:350px !default;

/* TABS */
$tab-count: 5 !default;
$tab-height: 3rem !default;
$tab-cursor-height: 1.6rem !default;

$cursor-width: 2px !default;

/* OTHER FRAMEWORK SIZES */
$topbar-height: 3rem !default;

$search-max-width: 210px !default;

$footer-height: 5rem !default;
$footer-height-mobile: 6rem !default;

$main-content-max-width: 1250px !default;

$bottom-min-height: 35rem !default;

/* SYNTAX HIGHLIGHT */

$code-font-size: 0.85rem !default;
