/*
    RESPONSIVE DESIGN - NO SIDE PANELS
    {content} >= 1120px screen
    {content} >= 850px screen
    {content} <= 849px screen
*/

@media all and (max-width: 849px) {
    #topbar-wrapper,
    #main-wrapper { max-width: 100%; }
    #main-wrapper { padding-top: $topbar-height; }
    #topbar,
    #main,
    #breadcrumb,
    #search-result-wrapper { max-width: 100%; }
    #topbar-wrapper {
        @include slide(top 0.2s ease);
        left: 0;
    }
    #core-wrapper,
    #panel-wrapper { margin-top: 0; }
    #topbar-trigger,
    #search-trigger { display: block; }
    #search-result-wrapper .post-content { letter-spacing: 0; }
    #tags {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    h1.dynamic-title {
        display: none;
        ~ .post-content { margin-top: 3rem; }
    }
}

@media all and (min-width: 850px) {
    #topbar-wrapper,
    #main-wrapper { max-width: 100%; }
    #main-wrapper { padding-top: $topbar-height; }
    #topbar,
    #main,
    #breadcrumb,
    #search-result-wrapper { max-width: 100%; }
    #topbar-wrapper {
        @include slide(top 0.2s ease);
        left: 0;
    }
    #core-wrapper,
    #panel-wrapper { margin-top: 0; }
    #topbar-trigger,
    #search-trigger { display: block; }
    #search-result-wrapper .post-content { letter-spacing: 0; }
    #tags {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    h1.dynamic-title {
        display: none;
        ~ .post-content { margin-top: 3rem; }
    }
}
/* iPad Horizontal */
@media all and (min-width: 992px) and (max-width: 1199px) {
    #topbar-wrapper,
    #main-wrapper { max-width: 100%; }
    #main-wrapper { padding-top: $topbar-height; }
    #topbar,
    #main,
    #breadcrumb,
    #search-result-wrapper { max-width: 100%; }
    #topbar-wrapper {
        @include slide(top 0.2s ease);
        left: 0;
    }
    #core-wrapper,
    #panel-wrapper { margin-top: 0; }
    #topbar-trigger,
    #search-trigger { display: block; }
    #search-result-wrapper .post-content { letter-spacing: 0; }
    #tags {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    h1.dynamic-title {
        display: none;
        ~ .post-content { margin-top: 3rem; }
    }
}

@media all and (min-width: 850px) and (max-width: 1199px) {
    #topbar-wrapper,
    #main-wrapper { max-width: 100%; }
    #main-wrapper { padding-top: $topbar-height; }
    #topbar,
    #main,
    #breadcrumb,
    #search-result-wrapper { max-width: 100%; }
    #topbar-wrapper {
        @include slide(top 0.2s ease);
        left: 0;
    }
    #core-wrapper,
    #panel-wrapper { margin-top: 0; }
    #topbar-trigger,
    #search-trigger { display: block; }
    #search-result-wrapper .post-content { letter-spacing: 0; }
    #tags {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    h1.dynamic-title {
        display: none;
        ~ .post-content { margin-top: 3rem; }
    }
}

@media all and (max-width: 1199px) {
    #topbar-wrapper,
    #main-wrapper { max-width: 100%; }
    #main-wrapper { padding-top: $topbar-height; }
    #topbar,
    #main,
    #breadcrumb,
    #search-result-wrapper { max-width: 100%; }
    #topbar-wrapper {
        @include slide(top 0.2s ease);
        left: 0;
    }
    #core-wrapper,
    #panel-wrapper { margin-top: 0; }
    #topbar-trigger,
    #search-trigger { display: block; }
    #search-result-wrapper .post-content { letter-spacing: 0; }
    #tags {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    h1.dynamic-title {
        display: none;
        ~ .post-content { margin-top: 3rem; }
    }
}
